In [1]:
import json
import csv

Traditional way of reading JSON files

In [2]:
with open('data/example-1.json', 'r') as file:
    data = json.load(file)
print(data)

[{'Column 1': 1, 'Column 2': 2}, {'Column 1': 3, 'Column 2': 4}, {'Column 1': 5, 'Column 2': 6}]

With Pandas...

In [2]:
import pandas as pd
json_data = pd.read_json('data/example-1.json')
json_data

   Column 1  Column 2
0         1         2
1         3         4
2         5         6

In [3]:
json_data_clone = pd.DataFrame([
  {
    "Column 1": 1,
    "Column 2": 2
  },
  {
    "Column 1": 3,
    "Column 2": 4
  },
  {
    "Column 1": 5,
    "Column 2": 6
  }
]
)

To compare if 2 DataFrames are equal...

In [4]:
json_data.equals(json_data_clone)

True

Converting JSON object to a string with pandas...

In [4]:
json_data.to_json('data/example-1-json-output.txt')

Traditional way of reading CSV files

In [5]:
with open('data/example-1.csv', 'r') as file:
    data = csv.reader(file)
    for row in data:
        print(row)

['Branch A', 'January 1', '500.00']
['Branch B', 'January 2', '250.00']
['Branch A', 'January 3', '300.00']

With pandas...

In [6]:
csv_data = pd.read_csv('data/example-1.csv')
csv_data

   Branch A  January 1  500.00
0  Branch B  January 2   250.0
1  Branch A  January 3   300.0

Note here that the first row is always considered as header. In this case, its data.

In [7]:
csv_data = pd.read_csv('data/example-1.csv', header=None)
csv_data

          0          1      2
0  Branch A  January 1  500.0
1  Branch B  January 2  250.0
2  Branch A  January 3  300.0

Writing back to csv file from pandas..

In [8]:
csv_data.to_csv('data/example-1-csv-output.txt')

In above file, the row indexes is also written which may represent data. You don't need those.

In [9]:
csv_data.to_csv('data/example-1-csv-output.txt', index=False)